// Profile
svg.mb-profile {
    .a,.b{fill:none;}.b{stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.5px;}
}

// Orders
svg.mb-orders {
    .a, .b {
        fill:none;
    }
    .a {
        stroke:#000;
        stroke-linecap:round;
        stroke-miterlimit:10;
        stroke-width:1.5px;
    }
}

// Menu
svg.mb-menu {
    .a,.b{fill:none;}.b{stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}
}

// Search
svg.mb-search {
    .a,.b{fill:none;}.b{stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.5px;}
}

svg.mb-favs {
    .a,.b{fill:none;}.b{stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.5px;}
}
svg.mb-cart {
    .a,.b{fill:none;}.b{stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.5px;}
}