<svg class="account-icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
    <g transform="translate(0.128 0.128)">
        <rect class="a" width="32" height="32" transform="translate(-0.128 -0.128)"/>
        <g transform="translate(4.613 2.133)">
            <circle class="b" cx="7.341" cy="7.341" r="7.341" transform="translate(3.918)"/>
            <path class="b" d="M9.3,48.259a11.259,11.259,0,1,1,22.519,0" transform="translate(-9.3 -20.781)"/>
        </g>
    </g>
</svg>
