<section class="bg-[#FAFAFA] px-6 pt-10">

    <div class="w-full">

        <div class="w-full grid justify-items-center">
            <div class="w-full text-center">
                <h2 class="text-[#060606] text-[22px] font-bold">Σύνδεση</h2>
                <p class="text-[#060606] text-sm pt-4">Κάνε σύνδεση στον λογαρισμό σου</p>
                <p class="text-[#060606] text-xs pt-6">ή συνδέσου γρήγορα με ένα έναν υπάρχοντα</p>
            </div>

            <!-- social login -->
            <div class="flex justify-center items-center gap-2 mt-[18px] w-full">
                <app-facebook-login></app-facebook-login>
                <app-google-login></app-google-login>
                <app-apple-login></app-apple-login>
            </div>

            <!-- login form -->
            <div class="w-ful">
                <app-login-form></app-login-form>
            </div>
        </div>

        <div></div>

    </div>

</section>