<section class="bg-[#FAFAFA] px-6 pt-10">

    <div class="w-full">

        <div class="w-full grid justify-items-center">
            <div class="w-full text-center">
                <h2 class="text-[#060606] text-[22px] font-bold">Σύνδεση</h2>
                <p class="text-[#060606] text-sm pt-4">Κάνε σύνδεση στον λογαρισμό σου</p>
                <p class="text-[#060606] text-xs pt-6">ή συνδέσου γρήγορα με ένα έναν υπάρχοντα</p>
            </div>

            <!-- social login -->
            <div class="flex justify-center items-center gap-2 mt-[18px] w-full">
                <app-facebook-login></app-facebook-login>
                <app-google-login></app-google-login>
                <app-apple-login></app-apple-login>
            </div>

            <!-- login form -->
            <div class="w-ful">
                <app-login-form></app-login-form>
            </div>
        </div>

        <!-- register -->
        <div class="w-full mt-[70px] pl-5 pr-5 mb-24">
            <div class="w-full text-left">
                <h2 class="text-black text-[22px] font-bold">Νέος στο Ferye;</h2>
                <p class="text-black text-sm pt-4">Δημιούργησε τώρα δωρεάν λογαριασμό και γλίτωσε χρόνο από την επόμενη αγορά σου.</p>
                <p class="text-black text-sm pt-8">Μπορείς ακόμη να αποθηκεύεις το καλάθι σου ή να μαρκάρεις τα προϊόντα που θέλεις να αγοράσεις στο μέλλον και να πάρεις πρόσβαση στα στοιχεία σου από οποιαδήποτε συσκευή</p>
            </div>
            <div class="w-full mt-6">
                <button [routerLink]="['/account/register']" class="bg-black w-full h-16 text-white font-bold text-lg rounded-[36px] cursor-pointer hover:bg-pine focus:bg-clover">Δημουργία λογαριασμού</button>
            </div>
        </div>

    </div>

</section>