<section class="w-full">

    <!-- bg-image -->
    <div
        [ngClass]="[router.url.includes('contact') ? 'bg-[#E0EBF6]' : '', router.url.includes('login') ? 'bg-[#FAFAFA]' : '']" 
        class="bg-header p-6 lg:pt-10 lg:px-16">
        <!-- bg-shadow -->
        <div class="">
            <!-- items -->
            <div class="flex justify-between items-center">
                <!-- left -->
                <div>
                    <div class="flex justify-start items-center gap-1 lg:gap-8">
                        <!-- menu -->
                        <div (click)="showMenu()" class="flex lg:hidden justify-center items-center w-8 h-8 rounded-full"
                            [ngClass]="[router.url.includes('contact') ? 'bg-white' : '']">
                            <app-menu-icon></app-menu-icon>
                        </div>
                        <!-- search -->
                        <div class="flex justify-center items-center w-8 h-8 rounded-full"
                            [ngClass]="[router.url.includes('contact') ? 'bg-white' : '']">
                            <app-search-icon></app-search-icon>
                        </div>
                        <div class="hidden lg:flex justify-center items-center w-8 h-8 rounded-full"></div>
                        <div class="hidden lg:flex justify-center items-center w-8 h-8 rounded-full"></div>
                    </div>
                </div>

                <!-- center -->
                <div>
                    <!-- logo -->
                    <div class="flex justify-center items-center">
                        <app-ferye-logo-dark></app-ferye-logo-dark>
                    </div>
                </div>

                <!-- right -->
                <div>
                    <div class="flex justify-start items-center gap-1 lg:gap-8">
                        <!-- de:account -->
                        <div class="hidden md:flex md:justify-center md:items-center md:w-8 md:h-8 md:rounded-full"
                            [ngClass]="[router.url.includes('contact') ? 'bg-white' : '']">
                            <!-- lg -->
                            <app-account-icon></app-account-icon>
                            <!-- sm -->
                            <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><defs><style>.a,.b{fill:none;}.b{stroke:#000;stroke-linecap:round;stroke-miterlimit:10;stroke-width:1.5px;}</style></defs><g transform="translate(0.128 0.127)"><rect class="a" width="16" height="16" transform="translate(-0.128 -0.127)"/><g transform="translate(2.243 1.003)"><circle class="b" cx="3.671" cy="3.671" r="3.671" transform="translate(1.959)"/><path class="b" d="M9.3,42.63a5.63,5.63,0,0,1,11.26,0" transform="translate(-9.3 -28.89)"/></g></g></svg> -->
                        </div>
                        <!-- favourites -->
                        <div class="flex justify-center items-center w-8 h-8 rounded-full"
                            [ngClass]="[router.url.includes('contact') ? 'bg-white' : '']">
                            <app-favourites-icon></app-favourites-icon>
                        </div>
                        <!-- cart -->
                        <div class="flex justify-center items-center w-8 h-8 rounded-full"
                            [ngClass]="[router.url.includes('contact') ? 'bg-white' : '']">
                            <app-cart></app-cart>
                        </div>
                    </div>
                </div>
            </div>

            <!-- nav -->
            <div class="hidden md:block mt-5">
                <nav>
                    <ul class="flex justify-center items-center text-lg gap-12">
                        <li class="cursor-pointer">Κολιέ</li>
                        <li class="cursor-pointer">Βραχιόλια</li>
                        <li class="cursor-pointer">Σκουλαρίκια</li>
                        <li class="cursor-pointer">Δαχτυλίδια</li>
                        <li class="cursor-pointer">Anklets</li>
                    <!-- <li *ngFor="let cat of categories"
                        [routerLink]="['/shop/category/' + cat.id]"
                        class="cursor-pointer"
                    >
                        {{cat.categoryName}}
                    </li> -->
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</section>