<div>

    <form [formGroup]="newsletterForm" (ngSubmit)="submitNewsletter(newsletterForm)" class="pt-6">

        <div class="flex flex-row items-center pt-6 w-full lg:max-w-[386px] xl:max-w-[414px]">
            <label for="newsletterinputform" class="hidden">To email saw</label>

            <input 
                type="text" 
                id="newsletterinputform" 
                autocomplete="off"
                placeholder="Το email σας..."
                name="email"
                formControlName="email"
                class="rounded-xl w-full h-16 focus:ring-transparent placeholder:font-normal text-sm lg:text-lg font-bold text-black"
                [ngClass]="[newsletterForm.controls['email'].invalid && (newsletterForm.controls['email'].touched || newsletterForm.controls['email'].dirty) ? 'border-2 border-[#EF3F4C] focus:border-[#EF3F4C] bg-transparent' : 'bg-[#E8E8E8] border-2 border-transparent focus:border-[#007377]']"
            />

            <!-- submit button -->
            <div class="relative -ml-12">
                <div
                    [ngClass]="[newsletterForm.controls['email'].invalid ? 'cursor-not-allowed' : 'cursor-pointer']" 
                    class="p-2 rounded-full bg-white shadow-[0px_3px_6px_0px_rgba(0,0,0,0.16)]">
                    <!-- valid -->
                    <svg *ngIf="((!newsletterForm.controls['email'].dirty && !newsletterForm.controls['email'].touched) || newsletterForm.controls['email'].valid)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><defs><style>.a,.b{fill:none;}.b{stroke:#000;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px;}</style></defs><g transform="translate(24 24) rotate(180)"><path class="a" d="M0,0H24V24H0Z"/><path class="b" d="M15,6,9,12l6,6"/></g></svg>
                    <!-- !valid -->
                    <svg *ngIf="newsletterForm.controls['email'].invalid && (newsletterForm.controls['email'].touched || newsletterForm.controls['email'].dirty)" class="error-icon" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><g transform="translate(0)"><path class="a" d="M0,0H24V24H0Z" transform="translate(0)"/><path class="b" d="M12,9v2.011m0,4.022v.01" transform="translate(0 -0.017)"/><path class="b" d="M5,19.088H18.971a1.993,1.993,0,0,0,1.645-.893,2.024,2.024,0,0,0,.191-1.872L13.72,4.006a1.989,1.989,0,0,0-3.494,0L3.14,16.323a2.024,2.024,0,0,0,.165,1.836,1.994,1.994,0,0,0,1.581.929" transform="translate(0.017 0.016)"/></g></svg>
                </div>
            </div>

        </div>

    </form>

</div>