// Google iCon
svg.google-icon {
    .a {
        fill: none;
    }

    .b {
        fill: #4285f4;
        stroke: none;
    }

    .c {
        fill: #34a853;
    }

    .d {
        fill: #fbbc05;
    }

    .e {
        fill: #ea4335;
    }
}