<svg  class="hidden lg:block search-icon-lg" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
    <g transform="translate(0.365 0.365)">
        <rect class="a" width="32" height="32" transform="translate(-0.365 -0.365)"/>
        <g transform="translate(2.325 2.276)">
            <circle class="b" cx="11.5" cy="11.5" r="11.5"/>
            <line class="b" x2="6.998" y2="6.998" transform="translate(19.623 19.721)"/>
        </g>
    </g>
</svg>

<svg class="lg:hidden search-icon-sm" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
    <defs><style></style></defs>
    <g transform="translate(0.365 0.365)">
        <rect class="a" width="16" height="16" transform="translate(-0.365 -0.365)"/>
        <g transform="translate(0.98 0.955)">
            <circle class="b" cx="5.75" cy="5.75" r="5.75"/>
            <line class="b" x2="3.499" y2="3.499" transform="translate(9.811 9.86)"/>
        </g>
    </g>
</svg>                        
