<section class="bg-[#E0EBF6] px-6">

    <div class="gird">
        <!-- about -->
        <div class="space-y-5">
            <h1 class="text-lg font-bold text-black">Σχετικά με την Ferye</h1>
            <p class="text-sm text-black">Εδώ να γραψουμε μια καλη περιγραφή για το brand και γενικα για τον σκοπο της Ferye.</p>
        </div>

        <!-- image -->
        <div>
            <div class="mt-8 pb-16">
                <div class="flex justify-center items-center">
                    <img class="w-48  h-auto rounded-3xl" src="assets/images/main/image1.jpeg" alt="Image 1" lazyload/>
                    <img class="w-48  h-auto rounded-3xl mt-20 -ml-20"src="assets/images/main/image2.jpeg" alt="Image 2" lazyload/>
                </div>

                <div class="flex justify-center">
                    <img class="w-64 h-auto rounded-3xl -mt-20" src="assets/images/main/horizontal.jpeg" alt="Image 3" lazyload/>
                </div>
            </div>
        </div>
    </div>

    <!-- contact form -->
    <div>
        <app-contact-form></app-contact-form>
    </div>

</section>