<div class="grid">

    <div class="space-y-5">
        <h3 class="text-[#7D8F9E] text-xl font-bold">Επικοινωνήστε μαζί μας</h3>
        <p class="text-[#7D8F9E] text-sm font-normal">Μην διστάσετε να επικοινωνήσετε μαζί μας για οποιαδήποτε απορία η πρόβλημα αντιμετωπίζετε.</p>
    </div>

    <form [formGroup]="contactForm" (ngSubmit)="submitForm(contactForm)">

        <div class="grid gap-4 pt-7">

            <!-- Name -->
            <div class="relative">
                <!-- input -->
                <input 
                    type="text"
                    id="name"
                    formControlName="name"
                    [ngClass]="[contactForm.controls['name'].invalid && (contactForm.controls['name'].touched || contactForm.controls['name'].dirty) ? 'border-2 border-[#EF3F4C] focus:border-[#EF3F4C]' : 'border-2 border-transparent focus:border-[#007377]']"
                    class="block rounded-xl px-2.5 pb-2.5 pt-5 w-full text-sm text-[#282828] bg-[#C1DCF6]  appearance-none dark:focus:border-[#007377] focus:outline-none focus:ring-0  peer h-16 pl-4 focus:bg-white font-bold"
                    placeholder=" "
                />
                <!-- label -->
                <label
                    for="name"
                    [ngClass]="[contactForm.controls['name'].invalid && (contactForm.controls['name'].touched || contactForm.controls['name'].dirty) ? 'text-[#EF3F4C] peer-focus:text-[#EF3F4C]' : 'text-[#282828] peer-focus:text-[#007377]']"
                    class="absolute text-sm duration-300 transform -translate-y-4 scale-100 top-6 z-10 origin-[0] left-4  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4"
                >
                    Όνομα
                </label>
                <!-- Valid value-->
                <p
                    *ngIf="(contactForm.controls['name'].valid)"
                    class="absolute duration-300 transform -translate-y-4 scale-100 top-10 z-10 origin-[0] right-5"
                >
                <app-check></app-check>
                </p>
                <!-- !Valid value -->
                <p
                    *ngIf="contactForm.controls['name'].invalid && (contactForm.controls['name'].touched || contactForm.controls['name'].dirty)"
                    class="absolute duration-300 transform -translate-y-4 scale-100 top-10 z-10 origin-[0] right-5"
                >
                    <app-danger></app-danger>
                </p>
                <!-- Error Text -->
                <div class="flex items-center gap-2" *ngIf=" contactForm.controls['name'].invalid && (contactForm.controls['name'].touched || contactForm.controls['name'].dirty)">
                    <app-danger></app-danger>
                    <p class="text-sm text-black">Το όνομα πρέπει να αποτελείτε μόνο από γράμματα και κενά</p>
                </div>
            </div>

            <!-- Email -->
            <div class="relative">
                <!-- input -->
                <input 
                    type="text"
                    id="email"
                    formControlName="email"
                    [ngClass]="[contactForm.controls['email'].invalid && (contactForm.controls['email'].touched || contactForm.controls['email'].dirty) ? 'border-2 border-[#EF3F4C] focus:border-[#EF3F4C]' : 'border-2 border-transparent focus:border-[#007377]']"
                    class="block rounded-xl px-2.5 pb-2.5 pt-5 w-full text-sm text-[#282828] bg-[#C1DCF6]  appearance-none dark:focus:border-[#007377] focus:outline-none focus:ring-0  peer h-16 pl-4 focus:bg-white font-bold"
                    placeholder=" "
                />
                <!-- label -->
                <label
                    for="email"
                    [ngClass]="[contactForm.controls['email'].invalid && (contactForm.controls['email'].touched || contactForm.controls['email'].dirty) ? 'text-[#EF3F4C] peer-focus:text-[#EF3F4C]' : 'text-[#282828] peer-focus:text-[#007377]']"
                    class="absolute text-sm duration-300 transform -translate-y-4 scale-100 top-6 z-10 origin-[0] left-4  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4"
                >
                    Email
                </label>
                <!-- Valid value-->
                <p
                    *ngIf="(contactForm.controls['email'].valid)"
                    class="absolute duration-300 transform -translate-y-4 scale-100 top-10 z-10 origin-[0] right-5"
                >
                <app-check></app-check>
                </p>
                <!-- !Valid value -->
                <p
                    *ngIf="contactForm.controls['email'].invalid && (contactForm.controls['email'].touched || contactForm.controls['email'].dirty)"
                    class="absolute duration-300 transform -translate-y-4 scale-100 top-10 z-10 origin-[0] right-5"
                >
                    <app-danger></app-danger>
                </p>
                <!-- Error Text -->
                <div class="flex items-center gap-2" *ngIf=" contactForm.controls['email'].invalid && (contactForm.controls['email'].touched || contactForm.controls['email'].dirty)">
                    <app-danger></app-danger>
                    <p class="text-sm text-black">Το email δεν είναι σωστό</p>
                </div>
            </div>

            <!-- Message -->
            <div class="relative">
                <textarea
                    type="text"
                    id="message"
                    formControlName="message"
                    rows="14"
                    [ngClass]="[contactForm.controls['message'].invalid && (contactForm.controls['message'].touched || contactForm.controls['message'].dirty) ? 'border-2 border-[#EF3F4C] focus:border-[#EF3F4C]' : 'border-2 border-transparent focus:border-[#007377]']"
                    class="block rounded-xl px-2.5 pb-2.5 pt-5 w-full text-sm text-grey-300 bg-[#C1DCF6]  appearance-none dark:focus:border-[#007377] focus:outline-none focus:ring-0  peer pl-4 focus:bg-white font-bold resize-none"
                    placeholder=" "
                ></textarea>
                <label 
                    for="message"
                    [ngClass]="[contactForm.controls['message'].invalid && (contactForm.controls['message'].touched || contactForm.controls['message'].dirty) ? 'text-[#EF3F4C] peer-focus:text-[#EF3F4C]' : 'text-[#282828] peer-focus:text-[#007377]']"
                    class="absolute text-sm duration-300 transform -translate-y-4 scale-100 top-6 z-10 origin-[0] left-4  peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-4"
                >
                    Γράψτε το μήνυμά σας εδώ
                </label>
            </div>

            <!-- Error message -->
            <div class="flex items-center gap-2" *ngIf=" contactForm.controls['message'].invalid && (contactForm.controls['message'].touched || contactForm.controls['message'].dirty)">
                <app-danger></app-danger>
                <p class="text-sm text-black">Το μήνυμα είναι υποχρεωτικό</p>
            </div>

            <!-- submit -->
            <div class="flex justify-center items-center pt-6 pb-20">
                <button
                    [disabled]="contactForm.invalid"
                    type="submit"
                    class="text-[#FAFAFA] bg-black h-16 w-80 rounded-[32px] disabled:opacity-50 disabled:cursor-not-allowed cursor-pointer hover:bg-[#007377] focus:bg-[#004F4F] disabled:hover:bg-black"
                >
                    Αποστολή μηνύματος 
                </button>
            </div>
        </div>

    </form>

</div>