/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
        font-family: 'Manrope';
    }
}

// error-icon
svg.error-icon {
    .a,.b{fill:none;}.b{stroke:#ef3f4c;stroke-linecap:round;stroke-linejoin:round;stroke-width:2px;}
}

div{
  .max-width-de {
    @media (min-width: 1536px) {
      max-width: 1920px !important;
    }
  }
}